<header>
	{{> menu}}
	<!--
	<div id="banner_container">
	<section class="banner_container">
		<div class="message">
			<h1>
				Class Exetat
			</h1>
			<p>
				Bievenue sur le meilleure service pour la prepartion aux 
				exemans d'etat
				<span><a href="">Se connecter</a></span>
			</p>
			</div>
				<i class="middle_line"></i>
					<div class="timer">
						<p class="date">
							<span>22</span>
							<span><i>Lundi</i><i>Juin 2019</i></span>
						</p>
						<p class="date_explanation">
						Debut de la session ordinaire des examens d'etat, Soit</p>
						<ul>
							
							<li>300<br/><i>Jours</i></li>:
							<li>18<br/><i>Heures</i></li>:
							<li>16<br/><i>Minutes</i></li>
						</ul>
					</div>
	</section>
	</div>
	-->
</header>
<p style="text-align:center;padding-top:5em;color:rgba(0,128,192,1)">
	Cette page est en construction
	<input type="date" id="date"/>
</p>