<footer class="footer">
						<div>
							<h1>Ils Accompagnes Votre Succés</h1>
							<p>
								<img src="/public/image/partener/plexure.png"/>
								<img src="/public/image/partener/wharton.png"/>
								<img src="/public/image/partener/image.png"/>
								<img src="/public/image/partener/image.png"/>
								
							</p>
						</div>
						<div class="privacy">
							<ul>
								<li>Conditions Generales</li>
								<li><img src="/public/image/xerox.png"/></li>
								<li>&copy Optela.inc Tout droit réservé</li>
							</ul>
							<p>My Class est une marque déposé de l'entreprise technologique Optela</p>
						</div>
					</footer>