{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/forum.css"/>
{{/section}}
<header>
	{{> menu}}
	<div id="banner_container">
		<section class="forum_message">
			<div>
						
				<h1>Welcome on one of the best scientific forum in the world</h1>
				<p>
					This forum is an <span class="scientist">exchange space</span> between a lot of <span class="scientist">scientist</span> in the world,							
					A glace open for <span class="space">asking</span> and <span class="space">answering</span> to all scientific problems.
				</p>								
				<p class="forum_guideline">
					Dear customer,for having a <span class="space answer">best answer</span> 
					at your question,please ask it in the <span class="space answer">right items</span>					
					<span class="scientist"><br/>Click on </span>the question for seeing all <span class="scientist">
					corresponding answers</span>
				</p>
				<p><span>We are happy to know you as constributor of this great community</span></p>
			</div>
		</section>
	</div>
</header>
<section id="forum_container">
				<div class="category_filter">
					<p>A quel forum souhaitez-vous acceder ?</p>
					<ul>
						<li>Toutes</li>
						<li class="active">Mathematique</li>
						<li>Chimie</li>
						<li>Physique</li>
						<li>Bilogie</li>
						<li>Electricité</li>
						<li>Electronique</li>
						<li>Mecanique</li>
					</ul>
					<a href="">Poser une question</a>
				</div>	
				<section class="forum_advertise">
					<div class="forum_container">
						<ul class="question_header">
							<li>Statut</li>
							<form>
								<p>120 000 000 questions</p>
								<p>Mathematique</p>
								<select name="filter">
									<option value="nouvelle">Nouvelles</option>
									<option value="vues">Plus vues</option>
									<option value="nonanswered">Non repondues</option>
								</select>
							</form>
							<li>Répondeurs</li>
						</ul>
						<div class="question_container">
							<ul class="question_status">
								<li><strong>25</strong><br/><span>Vues</span></li>
								<li><strong>3</strong><br/><span>Supports</span></li>
								<li><strong>5</strong><br/><span>Réponses</span></li>
							</ul>
							<div class="question_sumary">
								<a href="answer_feed.html">Quelle est l'utilité pratique des asymptotes</a>
								<p>
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor	
								</p>
								<ul class="questioner">
									<li></li>
									<li>
										<strong><time>Il y a 3 min, </time>Adeline Sompo</strong>
										<cite>
											Lorem ipsum dolor Lorem ipsum dolor
											Lorem ipsum dolor Lorem ipsum dolor
											Lorem ipsum dolor Lorem ipsum dolor
										</cite>
									</li>
								</ul>
							</div>
							<ul class="answering">
									<li></li>
									<li></li>
									<li></li>							
							</ul>
						</div>
						<div class="question_container">
							<ul class="question_status">
								<li><strong>25</strong><br/><span>Vues</span></li>
								<li><strong>3</strong><br/><span>Supports</span></li>
								<li><strong>5</strong><br/><span>Réponses</span></li>
								
							</ul>
							<div class="question_sumary">
								<a href="">Quelles sont les principes de calculs des intagrales</a>
								<p>
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor
								Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor Lorem ispum dolor	
								</p>
								<ul class="questioner">
									<li></li>
									<li>
										<strong><time>10 sept 2018, </time>Adeline Sompo</strong>
										<cite>
											Lorem ipsum dolor Lorem ipsum dolor
											Lorem ipsum dolor Lorem ipsum dolor
											Lorem ipsum dolor Lorem ipsum dolor
										</cite>
									</li>
								</ul>
							</div>
							<ul class="answering">
									<li></li>
									<li></li>
									<li></li>							
							</ul>
						</div>
					
						<ul class="question_controller">
							<li class="question_active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>6</li>
							<li>7</li>
							<li>8</li>
							<li>9</li>
							<li>10</li>
						</ul>
					</div>
					
					<div class="advertise">
						<div class="partener">
							<p>
								Experimenter <br/>
								La 4G Home Box <br/>
								d'orange
							</p>
						</div>
					</div>
				</section>
			</section>
			<section id="ask_part">
				<form>
					<p class="input_select">
						<input class="question_title" "type="text" placeholder="Taper le titre de la question ici"/>
						<select>
							<option value="categorie">Toutes categorie</option>
							<option value="categorie">Mathematique</option>
							<option value="categorie">Physique</option>
							<option value="categorie">Chimie</option>
						</select>
					</p>								
					<p class="textarea">
						<textarea>Taper les details de votre question ici</textarea>
					</p>
					<p class="ask_footer">
						<span>
							<input type="submit" value="Envoyer"/>
							<input type="submit" value="Annuler"/>
						</span>						
						<input type="button" value="Enregistré comme brouillon"/>
					</p>
				</form>
				<div class="how_to_ask">
					<h1>How to ask a question</h1>
					<p>
						Dear mate for having a better answer to your question,please follow theses instructions :
					</p>
					<ul>
						<li>
							Choose a <span class="ask_anchor">forum caterogy</span> before to write your question
						</li>
						<li>
							Write your questions consisely in <span class="ask_anchor">title bar</span>
						</li>
						<li>
							Give <span class="ask_anchor">more details</span> to your question for a better comprehesion of the problem
							to <span class="widClass_link">widClass</span> member community
						</li>
						<li>
							Read carefully your question before to send it
						</li>
					</ul>
				</div>
			</section>