<div id="partner">
	<p>
		<img src="/public/image/home/partener1.png" alt="partener"/>
		<img src="/public/image/home/partener2.png" alt="partener"/>			
		<img src="/public/image/home/partener3.png" alt="partener"/>					
		<img src="/public/image/home/partener6.png" alt="partener"/>			
		<img src="/public/image/home/partener2.png" alt="partener"/>			
		<img src="/public/image/home/partener6.png" alt="partener"/>			
		<img src="/public/image/home/partener2.png" alt="partener"/>
	</p>						
</div>