#form_container{
	margin-top:5em;
}
#form_container form{
	width:60%;
	margin:auto;	
	margin-bottom:0.5em;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;
	
}
#form_container form label span.required{
	display:flex;
	margin-top:0.5em;
	color:red;
	font-size:0.9em;
}

#form_container form.article_classe label select{
	width:150px;
}


#form_container form h2{
	border-bottom:1px solid rgba(0,0,0,0.1);
	width:100%;
	padding-bottom:0.4em;
	color:rgba(0,0,0,0.9);
}
#form_container form input{
	margin:0em 0.5em;
}

#form_container form input,#form_container form select{
	//display:inline-block;
	//width:70%;
	//margin:auto;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-left:1px solid rgba(0,0,0,0.2);
	border:1px solid rgba(0,0,0,0.2);
	font-size:14px;
	padding-bottom:0.2em;
	padding-left:0.5em;
	padding-top:0.2em;
	outline:none;	
	color:rgba(0,0,0,0.6);
	background:transparent;
	margin-bottom:0em;
	margin-top:0em;
	/border-radius:15px;
}
#form_container form .submit{
	background:rgba(0,128,192,1);
	color:white;
	border:none;
}

table{
	border-collapse:collapse;
	/margin-top:2em;
	/margin-left:2em;
	margin-bottom:2em;

	
}
#table{
	width:60%;
	margin:auto;
	display:none;
}

#table h2{
	border-bottom:1px solid rgba(0,0,0,0.1);
	width:100%;
	padding-bottom:0.4em;
	color:rgba(0,0,0,0.9);
}
